* {box-sizing: border-box}

body {
    margin: 0;
    padding: 0;
    background-color: black;
}

.col-1 { width: 8.33%; }
.col-2 { width: 16.66%; }
.col-3 { width: 25%; }
.col-4 { width: 33.33%; }
.col-5 { width: 41.66%; }
.col-6 { width: 50%; }
.col-7 { width: 58.33%; }
.col-8 { width: 66.66%; }
.col-9 { width: 75%; }
.col-10 { width: 83.33%; }
.col-11 { width: 91.66%; }
.col-12 { width: 100%; }

.menu-height ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.menu-height ul li {
    float: left;
    width: 20%;
    border: 3px solid red;
    border-radius: 10px;
}

.menu-height ul li:hover{
    border: 3px solid white;
    border-radius: 10px;
}

.menu-height ul li a {
    display: block;
    height: 46px;
    background-color: black;
    text-decoration: none;
    text-align: center;
    color: red;
    padding: 7px;
    text-shadow: red;
    text-overline-color: red;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    font-size: 20px;
}

.menu-height ul li a:hover {
    background: linear-gradient(to top, black, red, black);
    color: white;
    transition: 1s;
}

[class*='col-'] {
    float: left;
    border: 0px solid grey;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

.row:after {
    content:'';
    clear: both;
    display: block;
}

.container {
    width: 90%;
    height: auto;
    margin: auto;
}


.header-height {background: linear-gradient(to top, black, red, black); }
.menu-height { height: 50px; }
.content-height { height: 650px; }
.big-footer-height { height: 180px; }
.footer-height { height: 50px; }

.position {
    position: fixed;
}
.img-height {
    height:100%;
}


.header-font {
    color: white;
    text-align: center;
    font-size: 30px;
}
.h-border{
    box-shadow: 0 0 15px 0 red;
    border-radius: 10px;
}
.mission {
    color: wheat;
    font-size: 18px;
    background-color: black;
    background-size: 100%;
    margin: 20px;
}

.mission-height {
    height: 400px;
    padding: 15px;
}

.mission-border1 {
    border-left: 5px solid white;
    border-radius: 20px;
    margin-top: 10px;
    box-shadow: 0 0 15px 0 red;
}

.mission-border2 {
    border-left: 5px solid white;
    border-radius: 20px;
    margin-top: 10px;
    box-shadow: 0 0 15px 0 red;
}


.bio-content {
    border-top: 5px solid white;
    border-left: 5px solid white;
    border-radius: 20px;
    box-shadow: 0 0 15px 0 red;
}

.bio-content1 {
    color: wheat;
    font-size: 18px;
    background-color: black;
    background-size: 100%;
    margin: 20px;
}

.bio-content2 {
    color: wheat;
    font-size: 18px;
    background-color: black;
    background-size: 100%;
    margin: 20px;
}

.p-folio1{
    background-color: black;
    color: wheat;
    border-left: 5px solid white;
    border-radius: 50px;
    box-shadow: 0px 0px 15px 0px red;
    margin-top: 15px;
}

.btn-div {
    margin: 20px;
    text-align: center;
}

#button_1{
    border-radius: 5px;
    border: 1px solid red;
    height: 30px;
    width: 130px;
    box-shadow: 0px 0px 15px 0px red;
}

#button_2{
    border-radius: 5px;
    border: 1px solid red;
    height: 30px;
    width: 130px;
    box-shadow: 0px 0px 15px 0px red;
}
#button_3{
    border-radius: 5px;
    border: 1px solid red;
    height: 30px;
    width: 130px;
    box-shadow: 0px 0px 15px 0px red;
}

#button_4{
    border-radius: 5px;
    border: 1px solid red;
    height: 30px;
    width: 130px;
    box-shadow: 0px 0px 15px 0px red;
}

#button_5{
    border-radius: 5px;
    border: 1px solid red;
    height: 30px;
    width: 130px;
    box-shadow: 0px 0px 15px 0px red;
}

#button_6{
    border-radius: 5px;
    border: 1px solid red;
    height: 30px;
    width: 130px;
    box-shadow: 0px 0px 15px 0px red;
}

.table-content-1{
    text-align: left;
    margin: 30px;
}

#default-div-1{
    margin: 30px;
    text-align: justify;
}
#folio-div-1{
    margin: 30px;
    text-align: justify;
    display:none;
}

#folio-div-2 {
    display: none;
}

#folio-div-3 {
    display: none;
}

#default-div-2{
    margin: 30px;
    text-align: left;
}
#folio-div-4 {
    margin: 30px;
    text-align: left;
    display:none;
}
#folio-div-5{
    margin: 30px;
    display: none;
}
#folio-div-6 {
    margin: 30px;
    display: none;
}

.table a {
    color: white;
}

.gallery1 {
    border: 0 solid white;
    border-radius: 10px;
    height: 750px;
    box-shadow: 0 0 15px 0 red;
}

.gallery2 {
    border: 0 solid white;
    border-radius: 10px;
    height: 250px;
    box-shadow: 0 0 15px 0 red;
}

.gallery2:hover {
    border: 1px solid red;
    border-radius: 10px;
    box-shadow: 0 0 15px 0 white;
}

.gallery3{
    border: 1px solid red;
    border-radius: 10px;
    box-shadow: 0 0 15px 0 white;
}

.gallery-img {
    padding: 5px;
    height: 100%;
    width: 100%;
    border-radius: 10px;
}

.social-img{
    height: 18px;
    width: 18px;
    border-radius: 5px;
}

.footer-content{
    color: white;
    font-size: 20px;
}
.footer-content2{
    color: white;
    font-size: 18px;
}


.table-content{
    font-size: 15px;
    margin-top: 20px;
    margin-left: 10px;
}

.table-1 {
    color: white;
    text-align: left;
}

.reg{
    text-decoration: none;
    color: red;
}

.user-name {
    color: white;
    text-align: left;
}

#logIn {
    text-align: left;
    float: left;
}
.forgot-password{
    color: red;
    text-align: right;
    float: right;
    margin:0;
    padding:0;
}
.con-content{
    margin-top: 10px;
    border-radius: 10px;
    box-shadow: 0 0 15px 0 red;
    background-image: url(../Image/Contact.jpg);
    position: relative;
    opacity:0.1;
}

.contact {
    color: wheat;
    position: absolute;
    text-align: center;
    background-color: black;
    height: auto;
    width: 480px;
    margin-left:27%;
    margin-top: 10%;
    font-family: arial;
}

.footer-content ul {
    padding-left: 10px;
}
.footer-content ul li {
    margin-top: 10px;
    margin-left: 0px;
    list-style: none;
    padding: 0;
    font-size:18px;
}

.footer-content ul li a {
    text-decoration: none;
    color: deepskyblue;
}

.footer-content2 ul li {
    list-style: none;
    padding: 0;
    color: white;
    font-size: 17px;
}
.footer-content2 ul{
    padding-left: 10px;
}

.footer {
    border: 1px solid white;
    border-radius: 10px 10px 0 0;
    background: linear-gradient( to top, #171445, black);
    margin-top: 5px;
    box-shadow: 0 0 15px 0 red;
}

.footer1 {
    border: 1px solid white;
    background-color: #171445;
    box-shadow: 0 0 15px 0 red;
    text-align: center;
    color: white;
    font-size: 15px;
}

.img-height {
    height: 100%;
    border-radius: 10px;
    transition: 1s;
}

.justify {
    text-align: justify;
}

.watch-design {
    height: 80px;
    width: 100%;
    background: linear-gradient(to top, black, red, black);
    color: white;
    font-size: 60px;
    text-align: center;
    padding-top: 7px;
    border-bottom: 1px solid white;
    float:left;
}

.date {
    height: 50px;
    width: 100%;
    background-color: black;
    color: red;
    font-size: 35px;
    text-align: center;
    border-bottom: 1px solid white;
    float: left;
}

.search {
    width: 100%;
    height: 90px;
    background-color: black;
    float:left;
}

.search-input {
    margin-top: 30px;
    background-color: red;
    border:1px solid white;
    height: 30px;
    border-radius: 5px;
    box-shadow: 0 0 15px 0 red;
    font-size: 20px;
    width: 66.66%;
}
.search-button {
    margin-top: 30px;
    background-color: white;
    border:1px solid red;
    height: 30px;
    border-radius: 5px;
    box-shadow: 0 0 15px 0 red;
    font-size: 20px;
    width: 30.33%;
}

.search-button a {
    text-decoration: none;
}

@media screen and (max-width: 480px) {
    [class*='col-'] {
        width:100%;
    }
    .menu-height ul li a {font-size:15px;}
    .img{ width: 50%;}
    .gallery1{height:480px;}
    .contact {margin-left:0%;}
}

@media screen and (min-width: 481px) and (max-width: 600px){
    .col-s1 { width: 8.33%; display: none;}
    .col-s2 { width: 16.66%; }
    .col-s3 { width: 25%; }
    .col-s4 { width: 33.33%; }
    .col-s5 { width: 41.66%; }
    .col-s6 { width: 50%; }
    .col-s7 { width: 58.33%; }
    .col-s8 { width: 66.66%; }
    .col-s9 { width: 75%; }
    .col-s10 { width: 83.33%; }
    .col-s11 { width: 91.66%; }
    .col-s12 { width: 100%; }
    .menu-height ul li a {font-size:17px;}
    .contact {margin-left:0%;}
}

@media screen and (min-width: 601px) and (max-width: 780px){
    .col-m1 { width: 8.33%; display: none;}
    .col-m2 { width: 16.66%; }
    .col-m3 { width: 25%; }
    .col-m4 { width: 33.33%; }
    .col-m5 { width: 41.66%; }
    .col-m6 { width: 50%; }
    .col-m7 { width: 58.33%; }
    .col-m8 { width: 66.66%; }
    .col-m9 { width: 75%; }
    .col-m10 { width: 83.33%; }
    .col-m11 { width: 91.66%; }
    .col-m12 { width: 100%; }
    .contact {margin-left:10%;}

}

@media screen and (min-width: 781px) and (max-width: 900px){
    .col-b1 { width: 8.33%; }
    .col-b2 { width: 16.66%; }
    .col-b3 { width: 25%; }
    .col-b4 { width: 33.33%; }
    .col-b5 { width: 41.66%; }
    .col-b6 { width: 50%; }
    .col-b7 { width: 58.33%; }
    .col-b8 { width: 66.66%; }
    .col-b9 { width: 75%; }
    .col-b10 { width: 83.33%; }
    .col-b11 { width: 91.66%; }
    .col-b12 { width: 100%; }
}